.navbar-dark {
  background-color: #e65119; }

.jumbotron {
  background-color: orange;
  color: white;
  padding: 80px 0px 10px 0px; }

.img-modal-carousel {
  padding: 0.25rem;
  border: 1px solid #FFFFFF;
  height: 200px; }
